@import "https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Lexend+Tera&display=swap";


#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: grey;
  font-family: 'Lexend Tera', sans-serif;
  text-align: center;
}
p#copyright {  
  text-align: center;
  padding-top: 5%;
font-size: 0.5vw;
}

#about-tab {
  padding-right: 15%;
  font-family: 'Lexend Tera', sans-serif;
  color: grey;
  text-decoration: none;
}
#portfolio-tab {
  font-family: 'Lexend Tera', sans-serif;
  color: grey;
  text-decoration: none;
}

#contact-tab {
  padding-left: 15%;
  font-family: 'Lexend Tera', sans-serif;
  color: grey;
  text-decoration: none;
}

#logo {
  padding-top: 10%;
  margin: auto;
  text-align: center;
  display: block;
}

#about, #contact {
  padding-left: 5vw;
 
}
#portfolio {
  width: 100%;
  display: block;
}

div#about-text {
  display: block;
  width: 100%;
}


#byline {
  font-size: 1.5vw;
}

#secret {
  color: white;
}

#matrix {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a0/Digital_rain_animation_small_letters_shine.gif");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
} 
body,html {
  margin: 0;
  padding: 0;
}